// Vendors
@import "bulma/sass/utilities/_all"
@import "bulma/sass/base/_all"
@import "bulma/sass/elements/other"
@import "bulma/sass/elements/button"
@import "bulma/sass/elements/icon"
@import "bulma/sass/elements/title"
@import "bulma/sass/components/nav"

@import "font-awesome/scss/font-awesome"

// Custom styles
html
  overflow: hidden

#nav-menu
  height: 50px

#main-nav
  box-shadow: 0px 1px 5px #818181

#about
  max-width: 650px
  margin: 0 auto
  margin-top: 25px

#about
  h4
    margin-top: 25px

  p
    margin-bottom: 20px
