// Vendors
@import "bulma/sass/utilities/_all"
@import "bulma/sass/base/_all"
@import "bulma/sass/elements/other"
@import "bulma/sass/elements/button"
@import "bulma/sass/elements/icon"
@import "bulma/sass/elements/title"
@import "bulma/sass/elements/tag"
@import "bulma/sass/components/nav"

@import "font-awesome/scss/font-awesome"

// Custom styles
$floating-components-border: 2px solid rgba(0,0,0,0.2)
$nav-menu-height: 50px

html
  overflow: hidden

#nav-menu
  height: $nav-menu-height

#main-nav
  box-shadow: 0px 1px 5px #818181

#footer
  position: fixed
  min-height: 50px
  bottom: 0
  left: 0
  z-index: 50000
  width: 100%

#date-select-slider-container
  background: rgba(255, 255, 255, 0.90)
  border: $floating-components-border
  max-width: 400px
  margin: 0 auto
  text-align: center
  padding: 5px 15px
  border-radius: 10px 10px 0 0

  input[type=range]
    height: 35px
    display: block
    width: 100%

  .title
    font-weight: bold

.leaflet-marker-icon
  opacity: 0.85
  &:hover
    opacity: 1

#legend
  position: fixed
  right: 5px
  top: 65px
  padding: 10px
  background: rgba(255, 255, 255, 0.90)
  z-index: 1000
  border: $floating-components-border
  border-radius: 3px

  &:not(.expanded)
    .legend-entry
      display: none

  .expand-button
    float: right

  .color-block
    width: 30px
    height: 15px
    display: inline-block
    margin-right: 5px
    border: 1px solid #6b6b6b

#about
  max-width: 650px
  margin: 0 auto
  margin-top: 25px

  h4
    margin-top: 25px

  p
    margin-bottom: 20px

.leaflet-popup-content
  .all-data
    thead tr th:not(:first-child)
      width: 150px
  .point-name
    font-weight: bold
    text-align: center
    width: 100%
    border-bottom: 1px solid lightgrey
    padding-bottom: 5px
    margin-bottom: 10px
